/* ================= GOOGLE FONTS ================= */

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Bruno+Ace+SC&family=Cinzel+Decorative:wght@400;700;900&family=Codystar:wght@300;400&family=Faculty+Glyphic&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Major+Mono+Display&family=Mea+Culpa&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Notable&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Science+Gothic:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');


/* ================= OUTER SECTION ================= */

.contact-section {
  padding: 120px 20px;
  /* background: #ffffff; */
  background:  #e5e5e5;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================= DARK BOX ================= */

.contact-wrapper {
  width: 100%;
  max-width: 1100px;

  background: #000000;

  padding: 80px 100px;

  border-radius: 6px;

  color: white;

  box-shadow: 0 0 20px #00e5ff;
}

/* ================= TITLE ================= */

.contact-title {
  font-size: 2.5rem;

  margin-bottom: 70px;

  text-align: center;
}

/* ================= TOP CARDS ================= */

.contact-cards {
  display: flex;

  justify-content: space-between;

  gap: 30px;

  margin-bottom: 90px;
}

.contact-card {
  background: #171726;

  border: 1px solid rgba(255,255,255,0.05);

  padding: 35px 28px;

  flex: 1;

  border-radius: 6px;

  transition: all 0.3s ease;
}

.contact-card:hover {

  border-color: rgba(0,229,255,0.3);

  box-shadow:
    0 10px 30px rgba(0,0,0,0.3),
    0 0 20px rgba(0,229,255,0.08);
}

.contact-card h3 {
  margin-bottom: 18px;

  color: #00e5ff;

  font-size: 1.2rem;
}

.contact-card p {
  color: #bbb;

  line-height: 1.7;
}

.contact-card a:hover {
  /* color: #00e5ff; */
  color: white;
}

/* ================= SOCIAL ICONS ================= */

.social-icons {
  display: flex;

  gap: 18px;

  margin-top: 10px;
}

.social-icons a {
  width: 46px;
  height: 46px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;

  background: rgba(255,255,255,0.06);

  border: 1px solid rgba(255,255,255,0.08);

  color: #00bfff;

  font-size: 1.2rem;

  transition: all 0.3s ease;
}

.social-icons a:hover {
  background: #00e5ff;

  color: #0f0f1a;
}

/* ================= CODING LINKS ================= */

.coding-links {
  display: flex;
  flex-direction: column;

  gap: 14px;
}

.coding-links a {
  text-decoration: none;

  color: #ddd;

  background: rgba(255,255,255,0.06);

  border: 1px solid rgba(255,255,255,0.08);

  padding: 12px 16px;

  border-radius: 4px;

  transition: all 0.3s ease;
}

.coding-links a:hover {
  background: #00e5ff;

  color: #0f0f1a;

}

/* ================= BOTTOM GRID ================= */

.contact-bottom {
  display: flex;

  gap: 70px;

  align-items: flex-start;
}

/* ================= LEFT ================= */

.contact-left {
  flex: 1;
}

.contact-left h3 {
  font-size: 2rem;

  margin-bottom: 30px;

  line-height: 1.4;
}

.contact-left p {
  color: #aaa;

  line-height: 1.9;

  margin-bottom: 20px;

  font-size: 1rem;
}

/* ================= RIGHT ================= */

.contact-right {
  flex: 1;
}

.message-title {
  margin-bottom: 25px;

  font-size: 1.8rem;
}

/* ================= FORM ================= */

.message-form {
  display: flex;
  flex-direction: column;

  gap: 18px;
  caret-color: white;
}

.message-form input,
.message-form textarea {
  padding: 16px;

  border-radius: 6px;

  border: 1px solid #2c2c40;

  background: #171726;

  color: white;

  outline: none;

  font-size: 0.95rem;

  transition: all 0.3s ease;
}

.message-form input:focus,
.message-form textarea:focus {
  border-color: #00e5ff;

  box-shadow:
    0 0 10px rgba(0,229,255,0.2);
}

.message-form textarea {
  resize: vertical;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ================= BUTTON ================= */

.message-form button {
  padding: 15px;

  border-radius: 6px;

  border: none;

  background: linear-gradient(
    90deg,
    #05acff,
    #05acff,
    #00e5ff
  );

  color: white;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.15s ease;
}

.message-form button:active {
  background: linear-gradient(
    90deg,
    #008fd6,
    #00b7d4
  );
}

.message-form button:hover {
  box-shadow:
    0 10px 25px rgba(0,212,255,0.25);
}

/* ================= RESPONSIVE ================= */

@media (max-width: 900px) {

  .contact-section {
    padding: 80px 15px;
  }

  .contact-wrapper {
    padding: 35px 25px;
  }

  .contact-title {
    font-size: 2rem;

    margin-bottom: 40px;
  }

  .contact-cards {
    flex-direction: column;

    margin-bottom: 50px;
  }

  .contact-bottom {
    flex-direction: column;

    gap: 40px;
  }

  .contact-left h3 {
    font-size: 1.6rem;
  }
}